body {
  background-color: #fff;
  color: #333;
  font-family: verdana;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

a {
  color: #000;
}

a.hover:hover {
  background-color:#000;
  color:#fff;
}